


<div class="relative">
<div class="container bg-grey-400 flex text-center text-white  justify-center items-center">
    <select class="mx-10 p-2 bg-yellow-400 text-black rounded-lg " name="select" id="select">
        <option class="w-20" value="">Rose</option>
        <option value="">type2</option>
        <option value="">type3</option>
    </select>
<div class="w-full relative py-3 flex gap-3" action="">
        <span class="absolute left-4 top-6 text-lg text-gray-400">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
        <input  type="text" class="w-full rounded-3xl px-8 text-slate-950" placeholder="search">
        <input type="submit" class=" w-1/4 bg-yellow-400 text-black rounded-3xl py-3 px-8 font-medium 
        inline-block mr-4 hover:bg-transparent hover:border-yellow-300
         hover:text-white duration-300 hover:border border border-transparent" value="search">
    </div>
    </div> 
    
    </div>